<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.business.menu.dao.MenuinfoMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.business.menu.model.Menuinfo" >
    <id column="minfo_id" property="minfoId" jdbcType="BIGINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="menu_rank" property="menuRank" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="alive_flag" property="aliveFlag" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    minfo_id, menu_name, menu_url, parent_id, remark, menu_rank, role_id, create_user, 
    create_time, alive_flag, menu_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_menuinfo
    where minfo_id = #{minfoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_menuinfo
    where minfo_id = #{minfoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssm.business.menu.model.Menuinfo" >
    insert into tbl_menuinfo (minfo_id, menu_name, menu_url, 
      parent_id, remark, menu_rank, 
      role_id, create_user, create_time, 
      alive_flag, menu_id)
    values (#{minfoId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{menuRank,jdbcType=INTEGER}, 
      #{roleId,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, 
      #{aliveFlag,jdbcType=INTEGER}, #{menuId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.business.menu.model.Menuinfo" >
    insert into tbl_menuinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="minfoId != null" >
        minfo_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="menuRank != null" >
        menu_rank,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="aliveFlag != null" >
        alive_flag,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="minfoId != null" >
        #{minfoId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="menuRank != null" >
        #{menuRank,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="aliveFlag != null" >
        #{aliveFlag,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.business.menu.model.Menuinfo" >
    update tbl_menuinfo
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="menuRank != null" >
        menu_rank = #{menuRank,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="aliveFlag != null or aliveFlag == 0" >
        alive_flag = #{aliveFlag,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
    </set>
    where minfo_id = #{minfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.business.menu.model.Menuinfo" >
    update tbl_menuinfo
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      menu_rank = #{menuRank,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      alive_flag = #{aliveFlag,jdbcType=INTEGER},
      menu_id = #{menuId,jdbcType=BIGINT}
    where minfo_id = #{minfoId,jdbcType=BIGINT}
  </update>
  
  <select id="findMenuinfoList" parameterType="map" resultMap="BaseResultMap">
  	select 
  		parent_id,menu_id,menu_name
  	from 
  		tbl_menuinfo
  	where 1=1
  	<if test="roleId != null">
  		and role_id = #{roleId}
  	</if>
  	<if test="aliveFlag != null or aliveFlag == 0">
  		and alive_flag = #{aliveFlag}
  	</if>
  </select>
  
  
   
  <select id="findMenuList" resultMap="BaseResultMap"  parameterType="map">  
  		select  
  	<include refid="Base_Column_List" />
  	from tbl_menuinfo 
  	where 1=1 
	<if test="parentId != null">
		and parent_id = #{parentId}   	
  	</if>
  	<if test="roleId != null">
  		and role_id = #{roleId}
  	</if>
  	<if test="aliveFlag != null or alive_flag == 0">
  		and alive_flag = #{aliveFlag}
  	</if>
  	<if test="menuRank != null">
  		and menu_rank = #{menuRank}
  	</if>
  </select>
  
  <select id="getMenuByParentIdFirst" resultMap="BaseResultMap"  parameterType="map">
  		select  
  	<include refid="Base_Column_List" />
  	from tbl_menuinfo 
  	where 1=1
  	<if test="roleId != null">
  		and role_id = #{roleId}
  	</if>
	<if test="aliveFlag != null or alive_flag == 0">
  		and alive_flag = #{aliveFlag}
  	</if>
  		parent_id = #{parentId} 
  	order by create_time desc limit 1
  </select>
  <insert id="insertRoleMenuinfo" parameterType="map">
  	INSERT INTO tbl_menuinfo(menu_name,menu_url,parent_id,remark,menu_rank,role_id,create_user,create_time,menu_id,alive_flag)
		(SELECT                   menu_name,menu_url,parent_id,remark,menu_rank,  #{roleId}  ,#{createUser},#{createTime},menu_id,1
		FROM tbl_menu WHERE menu_id IN (
		 <foreach item="item" index="index" collection="menuIds"
              open="(" separator="," close=")">
              #{item}
          </foreach>
		))
  </insert>
  
</mapper>